<section class="p-10 space-y-10">
  <div class="max-w-screen-lg w-10/12 pr-3 grid gap-3">
    <h1 class="text-3xl font-medium">About us</h1>
    <p class="text-black text-opacity-70 leading-relaxed">
      We aim to become a platform where candidates can find the role which best
      suits their profile and interest. This platform will facilitate the human
      connection and try to match the opportunities with skills.
    </p>
  </div>

  <div class="max-w-screen-lg w-10/12 pr-3 grid gap-3">
    <h1 class="text-3xl font-medium">Our future plan</h1>
    <p class="text-black text-opacity-70 leading-relaxed">
      At this stage, we are just a job curation platform. We plan to become the
      platform which allows the candidates to browse through a list of
      opportunities and find the best match.

      <br />
      <br />
      We aim to create a platform with human interactions in mind - where a
      company and candidate both can find a good match. This platform will be
      focused for early-stage companies where we focus on simple question &
      answer model of connection.
      <br />
      <br />
      We hope to make the MVP for the same live in the mid of this year and then
      iterate on the same to achieve the goal.
    </p>
  </div>
</section>
