<main class="p-10 space-y-10 flex-1">
    <div class="grid gap-4 max-w-3xl">
        <span class="text-3xl font-medium ">Get in touch</span>
        <span class="text-base text-black text-opacity-70">
            If you have any questions, suggestions or queries, please don't hesitate to get in touch with our team.
            Someone from our team will get in touch with you to address to your requirements. 
        </span>
    </div>

    <div class="grid gap-4 max-w-3xl">
        <span class="text-base text-black text-opacity-70">We welcome you to share your feedback too with us to help us improve the platform. 
            You can share your thoughts with us on <a href="mailto:fayum.co@gmail.com"  target="_blank" class="underline font-semibold hover:text-green">fayum.co@gmail.com</a>
        </span>
    </div>
</main>
