<footer
  class="border-gray-300 border-t-1 bg-white border-solid py-4 flex items-center col-span-1 sticky bottom-0"
>
  <div class="container mx-auto px-3 flex items-center gap-4 justify-between">
    <span class="text-black text-opacity-70"
      >&copy; All rights reserved. 2025</span
    >
    <div class="flex gap-6 items-center">
      <a
        href="/contact"
        class="text-anchor text-black text-opacity-70 hover:text-opacity-100"
        >Contact</a
      >
      <a
        href="/terms-of-services"
        class="text-anchor text-black text-opacity-70 hover:text-opacity-100"
        >Terms of services</a
      >
    </div>
  </div>
</footer>
