<!DOCTYPE html>
<html lang="en">
  {{ partial "header.html" .}}
  {{ partial "seo.html" }}
  <body>
   <ul>
    {{ range .Pages }}
      <li>
      {{ partial "post.html" .}}
      </li>
    {{ end }}
  </ul>

  <div class="taxonomy-terms-container">
    
    {{ $taxonomies := .Site.Taxonomies }}
    
    {{ range $taxonomyName, $taxonomy := $taxonomies }}
      <div class="taxonomy-section">
        <h2>{{ $taxonomyName | title }}</h2>
        <ul>
          {{ range $term, $pages := $taxonomy }}
            <li>
              <a href="/{{ $taxonomyName }}/{{ $term | urlize }}/">
                {{ $term | title }} ({{ len $pages }})
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
  </div>
  <h1>range of experience</h1>
  <ul>
    {{ $jobs := where .Site.RegularPages "Type" "experience" }}
    {{ range $jobs }}
   <li>
    <a href="{{ .Permalink }}">{{ .LinkTitle  }}</a>
   </li>

    {{ end }}
  </ul>
  </body>
</html>



